# basic
attrdict3
pyhocon
pycryptodome
packaging

# build
Cython

#  service
requests
tornado
psutil
pyjwt

#  db
sqlalchemy
psycopg2-binary
pymysql
elasticsearch
pymongo
redis

#  stream
confluent_kafka

#  data
pandas

#  report
openpyxl
XlsxWriter

#  test
pytest-cov

#  docs
mkdocs
mkdocstrings[python]
markdown-include
mkdocs-material
